.github-user-card{
    box-shadow: 19px 19px 19px -3px rgba(0,0,0,0.41);
    background-color: #f0eee9;

    animation: slide-right 0.5s ease-out both;
}


 @keyframes slide-right {
    0% {
              transform: translateX(-100px);
    }
    100% {

              transform: translateX(20px);
    }
  }

  